[user]
        name = Alex Forsythe
        email = alexwforsythe@gmail.com
[core]
        filemode = false
[alias]
        st = status
        df = diff
        br = branch
        co = checkout
        cb = checkout -b
        aa = add -A
        cm = commit -m
        ca = commit -a -m
        up = pull --rebase origin master
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        alias = config --get-regexp alias
[color]
        ui = true
